.card-img-tops {
  padding: 5%;
 
}
.card {
  display: grid;
 
}
.card_width_style {
     width: 100%;
    display: inline-block;
    border: 10px solid;
    display: inline-block;
    border: 5px solid;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #696969;
 
}



.card-img-tops {
  border-radius: 15px;
}

.slick-next {
  right: 0px;
  /* margin-left: 10%; */
  .slick-prev {
    left: 0px;
  }
}

.slick-dots {
  display: none !important;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: rotateY(22deg);
}
.slick-next:before {
  position: absolute;
  content: '→';
  background: black;
  /* width: 31px; */
  left: -20px;
}
.slick-prev:before {
  position: absolute;
  content: '←';
  background-color: black;
  right: -20px;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: inherit;
}

.card-text {
  font-size: 16px;
  font-family: inherit;
}
.card-text {
  color: black;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card-title {
  color: black;
}

a.btn.btn-primary.button-color {
  background: black;
  color: white;
  border: none;
}
a:hover {
  color: none !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: -10px;
    .slick-prev:before {
      position: absolute;
      content: '←';
      background-color: black;
      right: -10px;
    }
  }

  .card-title {
    font-size: 20px;
  }
  .card-img-tops {
    padding: 5%;
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: -3px;
    .slick-prev:before {
      position: absolute;
      content: '←';
      background-color: black;
      right: -3px;
    }
  }

  .card-title {
    font-size: 15px;
    font-weight: bold;
  }
  .card-img-tops {
    /* width: 80%; */
    /* min-height: 500px; */
    padding: 4%;
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: -10px;
  }
  .slick-prev:before {
    position: absolute;
    content: '←';
    background-color: black;
    right: -10px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-img-tops {
    /* width: 80%; */
    /* min-height: 500px; */
    padding: 5%;
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: -10px;
  }
  .slick-prev:before {
    position: absolute;
    content: '←';
    background-color: black;
    right: -3px;
  }

  .card-img-tops {
    padding: 4%;
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: 0px;
  }
  .slick-prev:before {
    position: absolute;
    content: '←';
    background-color: black;
    right: 0px;
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .slick-next:before {
    position: absolute;
    content: '→';
    background: black;
    /* width: 31px; */
    left: 0px;
    .slick-prev:before {
      position: absolute;
      content: '←';
      background-color: black;
      right: 9px;
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
}
